<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
{% block page_styles %}
        {% endblock %}
</head>
<body>
    <ul class="menu">
        <li class="menu_link">
            <a href="{% url 'main:index' %}" class="menu_link-inner_contacts">Main</a>
        </li>
        <li class="menu_link">
            <a href="{% url 'products:index' %}" class="menu_link-inner_contacts">Products</a>
        </li>
        <li class="menu_link">
            <a href="{% url 'main:contacts' %}" class="menu_link-inner_contacts">Contacts</a>
        </li>
        <li class="menu_link">
            <a href="{% url 'main:about' %}" class="menu_link-inner_about">About</a>
        </li>
    </ul>
    <section class="page">
        {% block page_content %}
        {% endblock %}
    </section>
</body>
</html>